* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #494949;
}

button,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

.brand-name {
  text-transform: lowercase;
  color: chocolate;
  font-size: 2rem;
  font-weight: 550;
}

header {
  height: 10vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#showcase {
  height: 90vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showcase #cover {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#showcase #cover img {
  width: 100%;
  height: auto;
}

#showcase #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#showcase #form #form-content {
  width: 90%;
  margin: auto;
}

#showcase #form #form-content #form-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
}

#showcase #form #form-content #form-options #my-base-login {
  display: none;
  width: 80%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#showcase #form #form-content #form-options #my-base-login form {
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#showcase #form #form-content #form-options #my-base-login form .form-control {
  margin-top: 1em;
}

#showcase #form #form-content #form-options #my-base-login form .form-control input {
  width: 100%;
  margin: auto;
  padding: 0.5rem;
  border: #450697 1px solid;
  border-radius: 0.3rem;
  color: #450697;
}

#showcase #form #form-content #form-options #my-base-login form .form-control .my-btn {
  margin-top: 2em;
  width: 100%;
  background: #450697;
  padding: 0.5rem;
  border: none;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
}

#showcase #form #form-content #form-options #my-base-login form #form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

#showcase #form #form-content #form-options #my-base-login form #form-footer p {
  text-align: center;
  width: 100%;
}

#showcase #form #form-content #form-options #my-base-login form #form-footer p a {
  color: #450697;
  text-decoration: none;
  font-weight: 500;
}

#showcase #form #form-content #form-options #my-base-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#showcase #form #form-content #form-options #my-base-signup form {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#showcase #form #form-content #form-options #my-base-signup form .form-control {
  margin-top: 1em;
}

#showcase #form #form-content #form-options #my-base-signup form .form-control input {
  width: 100%;
  margin: auto;
  padding: 0.5rem;
  border: #450697 1px solid;
  border-radius: 0.3rem;
  color: #450697;
}

#showcase #form #form-content #form-options #my-base-signup form .form-control .my-btn {
  margin-top: 2rem;
  width: 100%;
  background: #450697;
  padding: 0.5rem;
  border: none;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
}

#showcase #form #form-content #form-options #my-base-signup form #form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

#showcase #form #form-content #form-options #my-base-signup form #form-footer p {
  text-align: center;
  width: 100%;
}

#showcase #form #form-content #form-options #my-base-signup form #form-footer p a {
  color: #450697;
  text-decoration: none;
  font-weight: 500;
}

#enterprise {
  height: 70vh;
  width: 90%;
  margin: auto;
}

#enterprise #enterprise-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#enterprise #enterprise-content #enterprise-body {
  width: 80%;
  height: 90%;
  padding-top: 1rem;
  -webkit-box-shadow: 2px 5px 5px #450697;
          box-shadow: 2px 5px 5px #450697;
}

#enterprise #enterprise-content #enterprise-body h2 {
  width: 100%;
  font-size: 2rem;
  font-weight: 550;
  text-transform: lowercase;
  text-align: center;
}

#enterprise #enterprise-content #enterprise-body p {
  text-align: center;
  padding: 1rem;
}

#enterprise #enterprise-content #enterprise-body #enterprise-items {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#enterprise #enterprise-content #enterprise-body #enterprise-items #free-trial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#enterprise #enterprise-content #enterprise-body #enterprise-items #free-trial h4 {
  padding: 0.5rem;
}

#enterprise #enterprise-content #enterprise-body #enterprise-items #free-trial button {
  width: 10rem;
  background: #450697;
  padding: 0.5rem;
  border: none;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
}

#enterprise #enterprise-content #enterprise-body #enterprise-items #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#enterprise #enterprise-content #enterprise-body #enterprise-items #contact img {
  width: 4rem;
  height: auto;
}

#enterprise #enterprise-content #enterprise-body #enterprise-items #contact h4 {
  padding: 0.5rem;
}

#enterprise #enterprise-content #enterprise-body #enterprise-items #contact button {
  width: 10rem;
  background: transparent;
  padding: 0.5rem;
  border: 1px solid #450697;
  color: #450697;
  border-radius: 0.3rem;
  cursor: pointer;
}

footer {
  height: 30vh;
}

footer a {
  color: cornsilk;
  text-decoration: none;
}

footer #footer1 {
  color: cornsilk;
  background-color: chocolate;
}

footer #footer1 #footer1-content {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
}

footer #footer1 #footer1-content h4 {
  font-size: 1.2rem;
}

footer #footer1 #footer1-content #support #support-nav {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer #footer1 #footer1-content #support #support-nav li {
  padding: 0 1rem;
}

footer #footer1 #footer1-content #company #company-nav {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer #footer1 #footer1-content #company #company-nav li {
  padding: 0 1rem;
}

footer #footer1 #footer1-content #mobile-apps #appstore {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer #footer1 #footer1-content #mobile-apps #appstore li {
  padding: 0 1rem;
}

footer #footer2 {
  color: cornsilk;
  background-color: #24074b;
}

footer #footer2 #footer2-content {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
}

footer #footer2 #footer2-content #copy-n-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer2 #footer2-content #copy-n-nav #foot-nav {
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer #footer2 #footer2-content #copy-n-nav #foot-nav li {
  padding: 0 1rem;
}

footer #footer2 #social-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer #footer2 #social-links #socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

footer #footer2 #social-links #socials li {
  padding: 0 1rem;
}

.top-shape {
  width: 25rem;
  height: 25rem;
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  top: -12em;
  right: 12em;
  background: linear-gradient(45deg, chocolate, #450697);
  -webkit-transform: rotateZ(35deg);
          transform: rotateZ(35deg);
}

.fade-in {
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
}

@-webkit-keyframes fadeIn {
  from {
    display: none;
  }
  to {
    display: -webkit-box;
    display: flex;
  }
}

@keyframes fadeIn {
  from {
    display: none;
  }
  to {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=app.css.map */